# Odin build outputs
*.exe
*.dll
*.so
*.dylib
*.pdb
*.ilk

# Build directories
/build/
/bin/
/out/

# Odin language server and compiler caches
.odin/
.ols/

# Editor and OS files
.vscode/
!/.vscode/
/.vscode/*
!/.vscode/settings.json
.idea/
.vs/
*.code-workspace
.DS_Store
Thumbs.db
Desktop.ini
.VSCodeCounter/

# Temporary files and logs
*.log
*.tmp
*.bak
*.swp
*~
